@model Studentsky_spravce.Models.Ucitel

<h1>Upravit učitele</h1>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div>
        <label>Jméno</label>
        <input asp-for="Jmeno" class="form-control" />
    </div>

    <div>
        <label>Příjmení</label>
        <input asp-for="Prijmeni" class="form-control" />
    </div>

    <div>
        <label>Věk</label>
        <input asp-for="Vek" class="form-control" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Uložit změny</button>
    <a asp-action="Index" class="btn btn-secondary">Zpět</a>

</form>