@model List<Studentsky_spravce.Models.Student>

@{
    ViewData["Title"] = "Studenti";
}

<div class="container mt-4">
    <h1 class="mb-4">Seznam studentů</h1>

    <a class="btn btn-primary mb-3" asp-action="Create">
        Přidat studenta
    </a>

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Věk</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Jmeno</td>
                    <td>@student.Prijmeni</td>
                    <td>@student.Vek</td>
                    <td>@student.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>