@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Studentsky spravce</h1>
    <p>Systém pro správu škol.</p>
    <a class="btn btn-primary mb-3" asp-controller="Studenti" asp-action="Index"> Přejít na seznam studentů </a>
    <a class="btn btn-primary mb-3" asp-controller="Tridy" asp-action="Index"> Přejít na seznam tříd </a>
</div>
